.bg-black {
  background-color: #161616 !important;
  color: white;
}

/* .modal-backdrop { background-color: white !important; } */

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  color: white;
  background-color: #161616 !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  border-bottom: 0 none !important;
}

.custom-input {
  color: white !important;
  background-color: rgba(210, 210, 210, 0.25) !important;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.custom-option {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.h-100vh {
  min-height: 100vh;
}

.home-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-thumb {
  width: 330px !important;
  height: 450px;
}

.fo-tnr {
  font-family: "Times New Roman";
  font-weight: bold;
}

.fo-red {
  color: red;
}

.img-profile-admin {
  width: 50px;
  height: 50px;
}

.img-header {
  width: 150px;
}

.img-landing-bg {
  height: 80vh;
  position: absolute;
  right: 6rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.h1-landing {
  line-height: 100% !important;
  font-family: "Times New Roman";
}

/* change the background color */
.navbar-custom {
  background-color: #161616;
}
/* change the link color */
.nav-link {
  color: white;
}
/* change the color of hovered links */
.navbar-custom .nav-item:hover .nav-link {
  color: #af2e1c !important;
}
/* change the color of active links */
.active {
  color: #af2e1c;
}

.search-home {
  width: 600px !important;
}

.img-profile-big {
  height: 27vh;
}

.img-profile-admin {
  width: 50px;
  height: 50px;
}

.ic-profile {
  font-size: 28px;
  color: #af2e1c;
}

.label-form {
  color: rgba(255, 255, 255, 0.5) !important;
  width: 130px !important;
}

/* ----------------------------------------*/

#bg-landing {
  min-height: 100vh;
}

#bg-landing p {
  font-size: 18px;
  line-height: 33px;
}

#bg-landing button {
  width: 200px;
  height: 50px;
}

.home-book {
  height: 44vh;
}

.h1-home {
  font-size: 96px;
  font-family: "Times New Roman";
  font-weight: bold;
  line-height: 101.5%;
}

.p1-home {
  font-size: 24px;
}

.bg-home {
  /* background-color: #e6f2fd !important; */
  background-size: cover;
}

.bg-profile {
  background-color: #252525 !important;
}

.f-header {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
}

.img-profile {
  width: 100px;
}

.full-page {
  height: 100vh;
}

.half-page {
  height: 50vh;
}

.btn-nav-rounded {
  border-radius: 50px !important;
  width: 270px;
  height: 50px;
}

.img-detailB {
  height: 50vh;
}

.btn-category {
  color: #000000 !important;
  background-color: rgba(233, 233, 233, 0.7) !important;
}

.link-noDec {
  text-decoration: none !important;
}

.active-btn {
  box-shadow: 0 0 0 0.2rem #ee4622 !important;
  color: #fff !important;
  background-color: #ee4622 !important;
}
